{% load static %}
<!DOCTYPE html>
<html>
    <html>
    <head>
        <title>SetiaMDN-Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content=width-device-width, initial-scale=1.0>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="{% static 'css/Configuration.css' %}" rel="stylesheet" type="text/css">
        <style>
            @font-face {
                font-family: 'SFProDisplay-Medium';
                src: url("{% static 'SF-Pro-Display-Medium.eot' %}");
                src: url("{% static 'SF-Pro-Display-Medium.eot?#iefix' %}") format('embedded-opentype'),
                     url("{% static 'SFProDisplay-Medium.svg#SFProDisplay-Medium' %}") format('svg'),
                     url("{% static 'font/SFProDisplay-Medium.ttf' %}") format('truetype'),
                     url("{% static 'font/SFProDisplay-Medium.woff' %}") format('woff');
            }
        </style>
    </head>
    <body class="MiscBody">
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top list-unstyled">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand"><img src="{% static 'photos/SM.png' %}" width="30px" height="auto" style="margin-left: 35%"></a>
            <span class="navbar-text font-weight-bold"><a href="/home" style="font-size: 24px; text-decoration: none; margin-left: 5%">SetiaMDN</a></span>
            <div class="collapse navbar-collapse" id="collapse_target" style="margin-left:29.7%">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link">></a></li>
                    <li class="nav-item"><a class="nav-link" href="/misc">Favourite Games</a></li>
                    <li class="nav-item"><a class="nav-link" href="/createtask" style="color: orange">Create Task</a></li>
                    <li class="nav-item"><a class="nav-link" href="/tasklist">My Tasks</a></li>
                </ul>
            </div>
        </nav>
        </br>
        <p style="text-align: center; font-size: 250%; color: white; font-weight: 500">Create Task</p>
        <form class="site-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table align="center" style="color: white; font-size:24px">
                {{ form.as_table }}
            </br>
            </table>
            </br></br>
            <p style="text-align: center"><button type="submit">&emsp;Add to List&emsp;</button></p>
        </form>
    </body>
</html>