{% load static %}
<!DOCTYPE html>
<html>
    <html>
    <head>
        <title>SetiaMDN-Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content=width-device-width, initial-scale=1.0>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="{% static 'css/Configuration.css' %}" rel="stylesheet" type="text/css">
        <style>
            @font-face {
                font-family: 'SFProDisplay-Medium';
                src: url("{% static 'SF-Pro-Display-Medium.eot' %}");
                src: url("{% static 'SF-Pro-Display-Medium.eot?#iefix' %}") format('embedded-opentype'),
                     url("{% static 'SFProDisplay-Medium.svg#SFProDisplay-Medium' %}") format('svg'),
                     url("{% static 'font/SFProDisplay-Medium.ttf' %}") format('truetype'),
                     url("{% static 'font/SFProDisplay-Medium.woff' %}") format('woff');
            }
            table {
                font-family: SFProDisplay-Medium;
                border-collapse: collapse;
                width: 90%;
            }
            
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
            .other{
                width: 250px;
            }
            .other1{
                width: 150px;
            }
            .other2{
                width: 250px;
            }
            .other3{
                width: 75px;
            }
        </style>
    </head>
    <body class="MiscBody">
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top list-unstyled">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand"><img src="{% static 'photos/SM.png' %}" width="30px" height="auto" style="margin-left: 35%"></a>
            <span class="navbar-text font-weight-bold"><a href="/home" style="font-size: 24px; text-decoration: none; margin-left: 5%">SetiaMDN</a></span>
            <div class="collapse navbar-collapse" id="collapse_target" style="margin-left:29.7%">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                    <li class="nav-item"><a class="nav-link">></a></li>
                    <li class="nav-item"><a class="nav-link" href="/misc">Favourite Games</a></li>
                    <li class="nav-item"><a class="nav-link" href="/createtask">Create Task</a></li>
                    <li class="nav-item"><a class="nav-link" href="/tasklist" style="color: orange">My Tasks</a></li>
                </ul>
            </div>
        </nav>
    <div class="forms">
    </br>
        <p style="text-align: center; color: white; font-size: 250%; font-weight: 600">My Tasks</p>
        <table bgcolor="white" align="center" style="margin-top: 40px; margin-bottom: 40px">
            <tr>
                <th class="other">Category</th>
                <th class="other">Task</th>
                <th class="other">Place</th>
                <th class="other1">Due Day</th>
                <th class="other1">Due Hour</th>
                <th class="other1">Due Date</th>
                <th class="other2">Date Created</th>
                <th class="other3"></th>
            </tr>
            {% for form in forms %}
            <div class="form">
            <tr>
                <td>{{ form.kategori }}</td>
                <td>{{ form.task }}</td>
                <td>{{ form.tempat }}</td>
                <td>{{ form.day }}</td>
                <td>{{ form.hour }}</td>
                <td>{{ form.time }}</td>
                <td>{{ form.date }}</td>
                <td><a href="/taskRemove/{{form.id}}" style="text-decoration:none; color:red">Remove</a></td>
            </tr>
            </div>
            {% endfor %}
        </table>

        <a class="create" href="/createtask" style="text-decoration:none; color:white">Create Another Task</a>
    </div>
    </body>
</html>